@import "../../_mixins";

div.home-container{
    height: calc(100vh - 8vh);
    padding: 0 50px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    @include lg{
        padding: 0 50px ;
        padding-bottom: 100px;
        padding-top: 20px;
        flex-direction: row-reverse;
    }

    @include xxl{
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 20px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .img-container{
        width: 40vw;
        height: 60vw;
        position: relative;
        display: block;
        margin-bottom: 10px;
        visibility: hidden;

        @include xs{
            display: none;
        }

        @include smx{
            display: block;
            width: 32vw;
            height: 52vw;
            margin-bottom: 10px;
        }

        @include lg{
            max-width: 190px;
            height: auto;
        }

        @include xl{
            max-width: 250px;
        }

        @include xxl{
            max-width: 280px;
        }
        
    }
    
    .text-holder{
        height: 60%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        
        @include lg{
            width: 50%;
        }

        span{
            margin-block-start: 0.72em;
            margin-block-end: 0.72em;
            font-size: 1.75rem;
            font-weight: 300;
    
            @include lg{
                font-size: 2rem;
                max-width: 700px;
            }
    
            @include xl{
                font-size: 2.5rem;
            }
    
            @include xxl{
                font-size: 2.5rem;
    
            }
        }
    
        span#home__contact{
            font-size: 1rem;
            font-weight: 400;
            margin-block-start: 1em;
            margin-block-end: 1em;
    
            @include lg{
                font-size: 1.25rem;
            }
            
            a{
                -webkit-transition: all .2s ease-in-out;
                transition:all .5s ease;
                font-weight: 400;
                text-decoration: none;
                display: inline-block;
                padding: 2px 3px;
                text-decoration: none;
                color: gray;
    
                &:hover{
                    color: #da4843;
                    cursor: pointer;
                }
            }
        
        }
    }
}

.img-container{
    overflow: hidden;

    
    
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
    }
    
    &:before{
        content: "";
        border: 2px solid #CCCCCC;
        position: absolute;
        width: 100%;
        height: 0%;
        visibility: hidden;
        bottom: -15px;
        right: -15px;
        z-index: -5;
    }
}