$xs: 410px;
$height: 670px;
$sm: 480px;
$md: 550px;
$lg: 768px;
$xl: 1024px;
$xxl: 1280px;

@mixin xs {
    @media (max-width: #{$sm} ) and ( max-height: #{$height} ) {
        @content;
    }
}

@mixin smx {
    @media (min-width: #{$xs}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$sm}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$lg}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}

@mixin xxl{
    @media (min-width: #{$xxl}) {
        @content;
    }
}