*,html{
  box-sizing: border-box; 
}

body{
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: #444452;

  &::-webkit-scrollbar{
    display: none;
  }
}

.App{
  &::-webkit-scrollbar{
    display: none;
  }
}